@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */
:root {
  --background: #1c1b1b;
  --foreground: #e4e4e4;
  --visited: #a0a0a0;
  ---primary: #0db9d7;
  ---primary-hover: #0ca4c3;
  ---secondary: #585858;
  ---secondary-hover: #4a4a4a;
  ---error: #f56565;
  ---error-hover: #e05353;
  ---info: #4299e1;
  ---info-hover: #3182ce;
  ---success: #48bb78;
  ---success-hover: #38a169;
  ---text: #e5e5e5;
  ---text-hover: #ffffff;
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--foreground);
}

/* Link Styles */
a {
  color: var(--foreground);
  text-decoration: none;
}

a:visited {
  color: var(--visited);
}

input,
textarea,
select {
  font: inherit;
}

/* Remove all scrollbars */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
