@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */
:root {
  --background: #1c1b1b;
  --foreground: #f2f2f2;
  --visited: #707070;
  --primary: #0da5bf;
  --primary-hover: #098cab;
  --secondary: #707070;
  --secondary-hover: #4a4a4a;
  --error: #e63946;
  --error-hover: #d62839;
  --info: #118ab2;
  --info-hover: #0e7b9f;
  --success: #06d6a0;
  --success-hover: #05b487;
  --text: #f2f2f2;
  --text-hover: #ffffff;
  --header-height-app: 6rem;
  --page-height-app: calc(100vh - var(--header-height-app));
  --border: #1f2937;
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--foreground);
}

/* Link Styles */
a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}

a:visited {
  color: var(--visited);
}

input,
textarea,
select {
  font: inherit;
}

/* Remove all scrollbars */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
