@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */
:root {
  --background: #1c1b1b;
  --foreground: #e4e4e4;
  --visited: #a0a0a0;
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background); /* Use the variable for background */
  color: var(--foreground); /* Use the variable for text */
}

/* Link Styles */
a {
  color: var(--foreground);
  text-decoration: none;
}

a:visited {
  color: var(--visited); /* Use the variable for visited link color */
}

button,
input,
textarea,
select {
  font: inherit;
}

/* Remove all scrollbars */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
