@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */
:root {
  --background: #1c1b1b;
  --foreground: #f2f2f2;
  --visited: #8c8c8c;
  --primary: #0da5bf;
  --primary-hover: #098cab;
  --secondary: #a3a3a3;
  --secondary-hover: #0b4c5880;
  --error: #e63946;
  --error-hover: #d62839;
  --info: #f2f2f2;
  --info-hover: #ffffff;
  --success: #06d6a0;
  --success-hover: #05b487;
  --text: #f2f2f2;
  --inverted-text: #1c1b1b;
  --text-hover: #ffffff;
  --header-height-app: 5rem;
  --page-height-app: calc(100dvh - var(--header-height-app));
  --border: #404850;
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--foreground);
}

input,
textarea,
select {
  font: inherit;
}

/* Remove all scrollbars */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
